html {
  scroll-behavior: smooth;
}

body {
  @include body-font;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h1 {
  // font-size: 4rem;
}

.logo {
  @include logo-font;
  margin-top: 4rem;
}

.logopic {
  // position: relative;
  // bottom: 4px;
  vertical-align: top;
}

.top-pic {
    padding: 2rem 0 3rem 0;
    margin-bottom: 2rem;
    background-color: $darkblue;
    border-radius: .3rem;

}

.obnovlenie{
    color: $white;
    text-align: center;
}

.btn-xl {
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.cursor-pointer{
  cursor: pointer;
}

.buttons .btn {
  width: 100%;
}

.navigation {
  margin-top: -15px
}
