body {
  @include body-font;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h1 {
  font-size: 4rem;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

input[name='__'] {
  display: none;
}

.candidate em {
  position: relative;
  top: 12px;
  left: 20px;
  font-style: italic;
  &:before {
    content: '„';
    font-size: 120px;
    line-height: 0;
    position: absolute;
    left: -48px;
    top: -48px;
    display: block;
    font-style: normal;
  }
}
