header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(0rem + 72px);
  padding-bottom: 0;
  .masthead-content {
    z-index: 1;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 800 !important;
    .masthead-heading {
      // font-size: 4rem;
    }
    .masthead-subheading {
      font-size: 2rem;
    }
  }

  .masthead-text {
    position: relative;
    top: -31rem;
    width: 100%;
    margin-bottom: -30rem;
  }

  .bg-circle {
    z-index: 0;
  }
  .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
  }
  .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
  }
  .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
  }
  .bg-circle-4 {
    height: 40rem;
    background-image: url(../img/bg_center.svg);
    background-size: 100% 50em;
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    position: relative;
    top: -8rem;
    // right: 35%;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(3rem + 55px);
    padding-bottom: 3rem;
    .masthead-content {
      .masthead-heading {
        font-size: 4rem;
      }
      .masthead-subheading {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 991px) {
  header.masthead .bg-circle-4 {
    top: 3rem;
    background-color: $darkblue;
    height: 35rem;
  }
  header.masthead .masthead-text {
    // top: -35rem;
  }
}
