header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 2rem;
  background: url(../img/bg_12345.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
  background-size: 60% auto;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
    }
    .masthead-subheading {
      font-size: 2rem;
    }
  }
  .bg-circle {
    z-index: 0;
    // position: absolute;
    // border-radius: 100%;
  }
  .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
  }
  .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
  }
  .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
  }
  .bg-circle-4 {
    background-image: url(../img/bg_center.svg);
    background-size: 100% 20em;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 20rem;
    width: 100%;
    position: relative;
    top: -8rem;
    // right: 35%;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 3rem;
    .masthead-content {
      .masthead-heading {
        font-size: 5rem;
      }
      .masthead-subheading {
        font-size: 3rem;
      }
    }
  }
}
