<h4>Альфа-Банк (приложение)</h4>
<ol>
  <li>Войдите в интернет-банк</li>
	<li>Перейдите в раздел «Оплатить и перевести»</li>
	<li>Выбираем «В другой банк»</li>
	<li>«Перевод со счета на счет»</li>
	<li>Введите необходимые реквизиты:
    <ul>
		  <li>Получатель: <span class="details__candidate-full-name"></span><%= candidate.fullName %></li>
			<li>БИК: <span class="details__bik"></span><%= candidate.bik %></li>
			<li>ИНН получателя (кандидата): <span class="details__candidate-inn"></span><%= candidate.inn %></li>
			<li>Номер счёта: <span class="details__candidate-account"></span><%= candidate.rs %></li>
		</ul>
	</li>
	<li>Введите назначение платежа:
	  <p><i>Пожертвование. ваши ФИО, ваша дата рождения, гражданство РФ, ваш адрес по прописке с указанием региона, номер паспорта</i></p>
	</li>
	<li>Введите сумму вашего пожертвования</li>
	<li>Проверьте реквизиты и нажмите «Перевести»</li>
</ol>
