<h4>Сбербанк-онлайн (через приложение)</h4>
<div class="attention">Внимание! Указывайте дату рождения полностью!</div>
<ol>
  <li>Войдите в приложение «Сбербанк Онлайн»</li>
	<li>Выберите вкладку «Платежи», далее — «Остальное»</li>
	<li>В строке поиска введите <%= candidate.fullName %></li>
	<li>Выберите результат «<span class="details__candidate-full-name"></span><%= candidate.fullName %>»</li>
	<li>В графе «назначение платежа» выберите <b>«Пожертвование»</b></li>
	<li>Выберите ваш регион регистрации и введите точный адрес <b>прописки</b> с указанием города (обратите внимание, что в приложении просят ввести адрес проживания, но <b>вводить надо адрес прописки</b>)</li>
	<li>Проверьте реквизиты</li>
	<li>Введите сумму платежа</li>
	<li>Подтвердите операцию</li>
</ol>
