  <h5 class="card-title">Тинькофф</h5>
  <ol>
    <li>Войдите в интернет-банк</li>
    <li>Выберите раздел «Оплатить», далее категорию «Людям», «Счёт»</li>
    <li>Введите необходимые реквизиты:
      <ul>
  			<li>БИК: <span class="details__bik"></span><%= candidate.bik %></li>
  			<li>Счёт получателя: <span class="details__candidate-account"></span><%= candidate.rs %></li>
  			<li>ФИО: <span class="details__candidate-full-name"></span><%= candidate.fullName %></li>
  		</ul>
  	</li>
  	<li>Введите назначение платежа:
  		<p><i>Пожертвование. ваши ФИО, ваша дата рождения, ваш адрес по прописке с указанием региона, номер и серия паспорта</i></p>
  	</li>
  	<li>Введите сумму вашего платежа</li>
  	<li>Проверьте реквизиты и нажмите «Перевести»</li>
  </ol>
