<h4>ВТБ (сайт)</h4>
<ol>
  <li>Войдите в интернет-банк</li>
	<li>В разделе «Переводы» перейдите в «Выборы, перевод добровольных пожертвований»</li>
	<li>Введите необходимые реквизиты:
    <ul>
      <li>Счет получателя: <span class="details__candidate-account"></span><%= candidate.rs %></li>
      <li>БИК банка получателя: <span class="details__bik"></span><%= candidate.bik %></li>
      <li>КПП банка получателя: 526002001</li>
      <li>ИНН получателя (кандидата): <span class="details__candidate-inn"></span><%= candidate.inn %></li>
		  <li>ФИО получателя: <span class="details__candidate-full-name"></span><%= candidate.fullName %></li>
		</ul>
	</li>
  <li>Введите сумму вашего пожертвования</li>
  <li>Нажмите «Продолжить»</li>
	<li>Обратите внимание, поле «Назначение платежа» сгенерируется автоматически.
      Внимательно проверьте, что поле содержит ваши актуальные паспортные данные и прописку.
      (платёж будет сгенерирован по паспортным данным, которые хранятся в банке; если они более не актуальны, рекомендуем выбрать другой способ пожертвования)</li>
	<li>Нажмите «Выполнить»</li>
</ol>
