<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Нижегородское Яблоко</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,500i,800,800i&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Scada:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>
  <div class="jumbotron top-pic">
    <div class="container obnovlenie">
      <h1 class="display-3">Обновление неизбежно</h1>


      <h3 class="logo">
        <svg class="logopic" width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.60293 3.64703L11.3528 7.41419C12.0285 7.17388 12.7683 7.03959 13.5437 7.03959C17.0291 7.03959 19.725 9.67589 19.725 13.2593C19.725 16.8427 17.0291 19.479 13.5437 19.479C10.0582 19.479 7.36226 16.8427 7.36226 13.2593C7.36226 12.6161 7.44762 12.0012 7.61123 11.4216L3.7203 9.63348C3.30773 10.7502 3.08722 11.9729 3.08722 13.2593C3.08722 19.0832 7.7606 23.6066 13.5437 23.6066C19.3694 23.6066 24.0001 19.0832 24.0001 13.2593C24.0001 7.39298 19.3694 2.90491 13.5437 2.90491C12.1495 2.90491 10.8193 3.16642 9.60293 3.64703Z" fill="#FA0B4A"/>
        <path d="M5.80439 0L0 5.76735L10.7908 10.7219L5.80439 0Z" fill="#00A23C"/>
        </svg>
        Нижегородское Яблоко</h3>

    </div>
  </div>

  <div class="container">
    <div class="row buttons navigation">
      <div class="col-sm-4 mb-1">
        <button type="button" class="btn btn-success">О партии</button>
      </div>
      <div class="col-sm-4 mb-1">
        <button type="button" class="btn btn-success">Вступить</button>
      </div>
      <div class="col-sm-4 mb-1">
        <button type="button" class="btn btn-success">Пожертвовать</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-8">
        <h3> Что за партия такая ваще? </h3>
        <p> Яблоко - самая крупная демократическая партия в стране. Наши ценности - свобода, справедливость, уважение к человеку. Сегодня в ней тысячи ярких, умных и принципиальных людей, которые стремятся сделать Россию лучше. </p>
        <p> У Яблока есть депутаты в законодательных собраниях Санкт-Петербурга, Псковской области, Карелии. </p>
        <p> Современная политическая система в России старается жестко подавлять любые альтернативные мнения, в том числе применяя насилие. Мы считаем, что главной задачей оппозиционных политиков в этой ситуации является смена власти. Чтобы достичь этого, нам нужно держаться вместе. Яблоко - это, прежде всего, инструмент объединения единомышленников. </p>
        <p> Присоединяйтесь к нашей команде, только вместе мы сможем сделать Россию по-настоящему свободной! </p>
      </div>
      <div class="col-sm-4">
        <img src="/img/yablo_main.jpg" width="100%">
      </div>
    </div>
  </div>




  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <% if (process.env.GA_ID) { %>
    <%- include('gtm', {}) %>
  <% } %>

</body>

</html>
